* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

body {
  position: relative;
}

header {
  padding: 1.2rem 1.5rem 0 1.5rem;
  background-image: url("./images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
  height: 50vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 10%;
  width: 100%;
  color: white;
}

/*do not show hamburger for wide screen sizes*/
#hamburger {
  display: none;
}

.navbar {
  list-style-type: none;
  display: flex;
  min-width: fit-content;
  max-width: 35%;
  justify-content: center;
  align-items: baseline;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navbar li {
  margin-left: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.navbar li:hover {
  cursor: pointer;
  opacity: 0.8;
}

#btnCtc {
  background-color: white;
  color: hsl(212, 27%, 19%);
  border-radius: 19px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-family: "Fraunces", serif;
  font-size: 0.8rem;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 6vh;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1rem;
  font-family: "Fraunces", serif;
  font-weight: bold;
  margin-bottom: 3.5vh;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#arrow {
  width: 1vw;
  height: 8vh;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 1.5rem 1.5rem;
  border-color: transparent transparent #ffffff transparent;
  display: none;
}

.hero--1 {
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "text1 img1"
    "img2 text2"
    "text3 text4";
}

@media screen and (min-width: 796px) {
  .hero--1 > * {
    aspect-ratio: 1/1;
  }
}

.hero--1 p {
  font-family: "Barlow", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: hsl(213, 9%, 39%);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2em;
  font-weight: 0.8em;
}

#text--1 {
  grid-area: text1;
  padding: 4em;
}

.text > p {
  line-height: 1.5;
  margin-bottom: 2vh;
}

.img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#img1 {
  grid-area: img1;
  background-image: url("./images/desktop/image-transform.jpg");
}

#img2 {
  grid-area: img2;
  background-image: url("./images/desktop/image-stand-out.jpg");
}

#text--2 {
  grid-area: text2;
  padding: 4em;
}

.underline {
  border-radius: 2px;
}
#u1 {
  border-bottom: 3px solid hsl(51, 100%, 49%);
}

#u2 {
  border-bottom: 3px solid hsl(7, 99%, 70%);
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 3.5vh;
}

.hero--1 a {
  text-decoration: none;
  color: black;
  font-family: "Fraunces", serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.7em;
  cursor: pointer;
}

.hero--1 a span {
  font-family: "Fraunces", serif;
  font-weight: bold;
}

#text3 {
  background-image: url("/images/desktop/image-graphic-design.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  justify-content: flex-end;
  align-items: center;
}

#text4 {
  background-image: url("/images/desktop/image-photography.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  justify-content: flex-end;
  align-items: center;
}

.text h3 {
  margin-bottom: 2vh;
  font-family: "Fraunces", serif;
  font-size: 1.2em;
  font-weight: 900;
}

#text4 p,
#text3 p {
  margin-inline: 7vw;
  text-align: center;
}

#text3 > * {
  color: hsl(167, 40%, 24%);
}

#text4 > * {
  color: hsl(198, 62%, 26%);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3vw;
  grid-template-rows: 1fr;
  grid-template-areas: "card1 card2 card3";
}

#card1 {
  grid-area: card1;
}

#card2 {
  grid-area: card2;
}

#card3 {
  grid-area: card3;
}

.testimonials {
  margin: 5rem;
}
.testimonials h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 1em;
  letter-spacing: 0.5ch;
  color: hsl(232, 10%, 55%);
  margin-bottom: 4em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 4em;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.card p {
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 0.7em;
  color: hsl(213, 9%, 39%);
  font-weight: bold;
  line-height: 1.8;
}

.card h2 {
  font-family: "Fraunces", serif;
  font-size: 0.85em;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  margin-bottom: 0.5em;
}

.card h4 {
  font-size: 0.7em;
  color: hsl(210, 4%, 67%);
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "image1 image2 image3 image4";
  overflow-x: hidden;
}

.images img {
  object-fit: cover;
  width: 25vw;
  height: 40vh;
}

#image1 {
  grid-area: image1;
}

#image2 {
  grid-area: image2;
}

#image3 {
  grid-area: image3;
}

#image4 {
  grid-area: image4;
}

footer {
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(168, 60%, 63%);
  padding-top: 8vh;
  padding-bottom: 8vh;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 3vh;
  padding-bottom: 7vh;
}

footer ul li a {
  text-decoration: none;
  font-size: 0.9em;
  margin-inline: 3vw;
  color: hsl(168, 34%, 41%);
  font-weight: 600;
}

footer ul li a:hover {
  cursor: pointer;
}

footer .icons a {
  padding-inline: 1vw;
}

.attribution {
  background-color: hsl(168, 60%, 63%);
}

/*Responsive queries*/

/*media query for small screen sizes*/
@media screen and (max-width: 630px) {
  .navbar {
    padding: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(232, 10%, 55%);
    position: absolute;
    top: 13vh;
    right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(50%);
    height: fit-content;
    width: calc(100% - 3rem);
    max-width: 100%;
    animation: showAnimation 0.2s ease-in-out;
    /*transition: opacity 0.3s ease-in-out;*/
  }

  .navbar li {
    margin-inline: 0;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .triangle {
    position: absolute;
    display: block;
    top: 10vh;
    right: 1.5rem;
    animation: showAnimation 0.4s ease-in-out;
    /*transition: opacity 0.3s ease-in-out;*/
  }

  .hidden {
    display: none;
    /*opacity: 0;*/
  }

  @keyframes showAnimation {
    0% {
      opacity: 0.1;
    }
    25% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  #btnCtc {
    background-color: hsl(51, 100%, 49%);
  }
  #hamburger {
    display: block;
  }
  #hamburger:hover {
    opacity: 0.7;
  }
  .images img {
    height: 30vw;
  }
}

@media screen and (min-width: 530px) and (max-width: 1467px) {
  .images img {
    height: 30vw;
  }
}

@media screen and (max-width: 530px) {
  #arrow {
    width: 3vw;
    height: 5.7vh;
  }
  .hero--1 {
    grid-template-columns: minmax(120px, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "img1"
      "text1"
      "img2"
      "text2"
      "text3"
      "text4";
  }
  .card-grid {
    grid-template-columns: minmax(120px, 1fr);
    column-gap: 0;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "card1"
      "card2"
      "card3";
    row-gap: 4vh;
  }

  .text {
    align-items: center;
    padding: 1em;
  }

  #text--1,
  #text--2 {
    padding: 2em;
  }
  #text--1 p,
  #text--2 p {
    font-size: 0.85em;
    font-weight: 600;
  }
  #text--1 h2,
  p {
    text-align: center;
  }

  #text--2 h2,
  p {
    text-align: center;
  }
  .testimonials {
    margin: 2em;
  }

  .images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "image1 image2"
      "image3 image4";
  }
  .images img {
    width: 50vw;
    height: 45vh;
    object-position: center center;
  }

  .footer-links {
    padding-left: 0;
    justify-content: space-between;
  }
  .footer-links a {
    font-size: 1.2em;
  }
  .icons a {
    margin-right: 4vw;
  }
  .icons a:last-child {
    margin-right: 0;
  }
  .icons a svg {
    transform: scale(1.2);
  }
  #logoFooter svg {
    transform: scale(1.3);
  }
}
